*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f1ebeb;
}

header{
    z-index: 100;
    width: 100%;
      height: 80px;
      background: linear-gradient(to bottom,
      rgba(106, 158, 253, 0.651),
      rgba(114, 193, 204, 0.6),
    rgba(214, 232, 240, 0.45)
      ), url(Img/fondo.jpg);
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      box-shadow: 2px 2px 5px #999;
}

.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}

.description:hover{
    height: 80px;
}

.text-primary{
    color: aliceblue;
}

.text-secundary{
    color: aliceblue;
}

.text-price{
    color: #fff;
}

.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__productos{
    display: flex;
}

.table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide, .remove{
    display: none;
  }

  .btn{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
  }

  .btn:hover{
    background: #fff;
    color: #46A2FD;
}

.btn-success{
    background: rgba(0, 128, 255, 0.5);
    margin-bottom: 30px;
}

.btn-danger{
    background-color: #cf2e11;
}

  .card{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
  }

  .card-title{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }

  .card-img-top{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }

  .precio{
      color: aliceblue;
  }

  .itemCartTotal{
      color: #46A2FD;
      font-weight: bold;
  }
